registry=https://naxgrp.jfrog.io/artifactory/api/npm/{{ organization-name }}-npm/
//naxgrp.jfrog.io/artifactory/api/npm/{{ organization-name }}-npm/:_auth=${ARTIFACTORY_TOKEN}
@nax-tech:registry=https://naxgrp.jfrog.io/artifactory/api/npm/nax-platform-npm/
//naxgrp.jfrog.io/artifactory/api/npm/nax-platform-npm/:_auth=${ARTIFACTORY_TOKEN}
