#registry=https://p6m.jfrog.io/artifactory/api/npm/{{ organization-name }}-npm/
#//p6m.jfrog.io/artifactory/api/npm/{{ organization-name }}-npm/:_auth=${ARTIFACTORY_TOKEN}
@p6m-dev:registry=https://p6m.jfrog.io/artifactory/api/npm/p6m-dev-npm/
//p6m.jfrog.io/artifactory/api/npm/p6m-dev-npm/:_auth=${ARTIFACTORY_TOKEN}
